<!doctype html>
<html ng-app="form">
	<head>
		<title> forms </title>
		<meta charset="utf-8">
		<script src="angular.min.js" type="text/javascript"> </script>
		<link href="app.css" rel="stylesheet" type="text/css"/>
		<script src="app.js"></script>
	</head>
	<body>
		<h1 style="text-align:center;"> Form Validation </h1>
		<div ng-controller="signupController">
			<form name="signup_form" novalidate ng-submit="signupForm()">
				<fieldset>
					<legend>Signup</legend>
					<div class="row">
						<div class="large-12 columns">
							<label>Your name</label>
							<input type="text"
							placeholder="Name"
							name="name"
							ng-class="{error: signup_form.name.$dirty && signup_form.name.$invalid}"
							ng-model="person.name"
							ng-minlength=3
							ng-maxlength=20 required />
							<div class="error"
								ng-show="signup_form.name.$dirty && signup_form.name.$invalid">
								<small class="error"
								ng-show="signup_form.name.$error.required">
								Your name is required.
								</small>
								<div class="error-container"
								ng-show="signup_form.name.$dirty && signup_form.name.$invalid && !signup_form.name.$focused"> </div>
								<small class="error"
								ng-show="signup_form.name.$error.minlength">
								Your name is required to be at least 3 characters
								</small>
								<small class="error"
								ng-show="signup_form.name.$error.maxlength">
								Your name cannot be longer than 20 characters
								</small>
							</div>
						</div>
					</div>
					<div class="row">
						<div>
							<label>Gender</label><br/>
							<input type="radio" ng-model="person.gender" value="male" name="male"> Male <br>
							<input type="radio" ng-model="person.gender" value="female" name="female"> Female <br>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label>Your email</label>
							<input type="email"
							placeholder="Email"
							name="email"
							ng-model="person.email"
							ng-minlength=3 ng-maxlength=20 required />
							<div class="error-container"
								ng-show="signup_form.email.$dirty && signup_form.email.$invalid">
								<small class="error"
								ng-show="signup_form.email.$error.required">
								Your email is required.
								</small>
								<small class="error"
								ng-show="signup_form.email.$error.minlength">
								Your email is required to be at least 3 characters
								</small>
								<small class="error"
								ng-show="signup_form.email.$error.email">
								That is not a valid email. Please input a valid email.
								</small>
								<small class="error"
								ng-show="signup_form.email.$error.maxlength">
								Your email cannot be longer than 20 characters
								</small>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label>Your number</label>
							<input type="number"
							placeholder="number"
							name="contactno"
							ng-model="person.phone"
							ng-minlength=3 ng-maxlength=20 required />
							<div class="error-container"
								ng-show="signup_form.contactno.$dirty && signup_form.contactno.$invalid">
								<small class="error"
								ng-show="signup_form.contactno.$error.required">
								Your number is required.
								</small>
								<small class="error"
								ng-show="signup_form.contactno.$error.minlength">
								Your number is required to be at least 3 characters
								</small>
								
								<small class="error"
								ng-show="signup_form.contactno.$error.maxlength">
								Your email cannot be longer than 20 characters
								</small>
							</div>
						</div>
					</div>
					<div class="row">
						<label>Your Address</label>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label> No </label>
							<input type="number"
							placeholder="Doorno"
							name="doorno"
							ng-class="{error: signup_form.doorno.$dirty && signup_form.doorno.$invalid}"
							ng-model="address.number"
							required />
							<div class="error"
								ng-show="signup_form.doorno.$dirty && signup_form.doorno.$invalid">
								<small class="error"
								ng-show="signup_form.doorno.$error.required">
								Your doorno is required.
								</small>
								<div class="error-container"
								ng-show="signup_form.doorno.$dirty && signup_form.doorno.$invalid && !signup_form.doorno.$focused"> </div>
								<small class="error"
								ng-show="signup_form.doorno.$error.minlength">
								Your name is required to be at least 3 characters
								</small>
								<small class="error"
								ng-show="signup_form.doorno.$error.maxlength">
								Your name cannot be longer than 20 characters
								</small>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label>Streetname</label>
							<input type="text"
							placeholder=""
							name="streetname"
							ng-class="{error: signup_form.streetname.$dirty && signup_form.streetname.$invalid}"
							ng-model="address.street"
							ng-minlength=3
							ng-maxlength=8 required />
							<div class="error"
								ng-show="signup_form.streetname.$dirty && signup_form.streetname.$invalid">
								<small class="error"
								ng-show="signup_form.streetname.$error.required">
								Your doorno is required.
								</small>
								<div class="error-container"
								ng-show="signup_form.streetname.$dirty && signup_form.streetname.$invalid && !signup_form.streetname.$focused">     </div>
								<small class="error"
								ng-show="signup_form.streetname.$error.minlength">
								Your name is required to be at least 3 characters
								</small>
								<small class="error"
								ng-show="signup_form.streetname.$error.maxlength">
								Your name cannot be longer than 20 characters
								</small>
							</div>
						</div>
					</div>
					
					<button type="submit" class="button radius">Submit</button>
				</fieldset>
			</form>
		</div>
	</body>
</html>
